In [1]:
# Library imports
import numpy as np
import pandas as pd
import csv

In [2]:
# Read data from data/four_area
author = pd.read_csv("data/four_area/author.txt", sep = "\t", names=["ID", "Author name"],encoding='utf8')
conf = pd.read_csv("data/four_area/conf.txt", sep = "\t", names=["ID", "Conference name"])
paper = pd.read_csv("data/four_area/paper.txt", sep = "\t", names=["ID", "Paper title"])
term = pd.read_csv("data/four_area/term.txt", sep = "\t", names=["ID", "Term"])
paper_author = pd.read_csv("data/four_area/paper_author.txt", sep = "\t", names=["paperID", "authorID"])
paper_conf = pd.read_csv("data/four_area/paper_conf.txt", sep = "\t", names=["paperID", "confID"])
paper_term = pd.read_csv("data/four_area/paper_term.txt", sep = "\t", names=["paperID", "termID"])

### ID in DBLP_four_area are differents from four_area. four_area's ID are rehashed.
### Label are defined as follows
* Database->1
* Data Mining->2
* Machine Learning->3
* Information Retrieval->4

In [3]:
# Read data from data/DBLP_four_area
author_dict = pd.read_csv("data/DBLP_four_area/cleaned_author_dict.txt", sep = "\t", names=["ID", "Author name"], encoding='utf8')
conf_dict = pd.read_csv("data/DBLP_four_area/conf_dict.txt", sep = "\t", names=["ID", "Conference name"])
term_dict = pd.read_csv("data/DBLP_four_area/term_dict.txt", sep = "\t", names=["ID", "Term"])
author_label = pd.read_csv("data/DBLP_four_area/author_label.txt", sep = "\t", names=["authorID", "Label"])
conf_label = pd.read_csv("data/DBLP_four_area/conf_label.txt", sep = "\t", names=["confID", "Conference name", "Label"])

In [4]:
df = author_dict

In [5]:
df2 = author

In [6]:
df3 = pd.merge(df, df2, on='Author name', how='inner')

In [7]:
df3['ID_x'].isnull().values.any()
df3['ID_y'].isnull().values.any()

False

In [13]:
df3[df3['ID_x']== 86]

    ID_x     Author name   ID_y
85    86  Per-Åke Larson  33480