In [209]:
# Library imports
import numpy as np
import pandas as pd
import csv

In [253]:
# Read data from data/four_area
author = pd.read_csv("data/four_area/author.txt", sep = "\t", names=["ID", "Author name"],encoding='latin1')
conf = pd.read_csv("data/four_area/conf.txt", sep = "\t", names=["ID", "Conference name"])
paper = pd.read_csv("data/four_area/paper.txt", sep = "\t", names=["ID", "Paper title"])
term = pd.read_csv("data/four_area/term.txt", sep = "\t", names=["ID", "Term"])
paper_author = pd.read_csv("data/four_area/paper_author.txt", sep = "\t", names=["paperID", "authorID"])
paper_conf = pd.read_csv("data/four_area/paper_conf.txt", sep = "\t", names=["paperID", "confID"])
paper_term = pd.read_csv("data/four_area/paper_term.txt", sep = "\t", names=["paperID", "termID"])

### ID in DBLP_four_area are differents from four_area. four_area's ID are rehashed.
### Non utf-8 Names in DBLP_four_area are corrupted due to transformation issues. This is done by prof and irreversible. 
### Label are defined as follows
* Database->1
* Data Mining->2
* Machine Learning->3
* Information Retrieval->4

In [254]:
# Read data from data/DBLP_four_area
author_dict = pd.read_csv("data/DBLP_four_area/cleaned_author_dict.txt", sep = "\t", names=["ID", "Author name"], encoding='latin1')
conf_dict = pd.read_csv("data/DBLP_four_area/conf_dict.txt", sep = "\t", names=["ID", "Conference name"])
term_dict = pd.read_csv("data/DBLP_four_area/term_dict.txt", sep = "\t", names=["ID", "Term"])
author_label = pd.read_csv("data/DBLP_four_area/author_label.txt", sep = "\t", names=["authorID", "Label"])
conf_label = pd.read_csv("data/DBLP_four_area/conf_label.txt", sep = "\t", names=["confID", "Conference name", "Label"])

In [255]:
df = author_dict

In [256]:
df2 = author

In [264]:
df3 = pd.merge(df, df2, on='Author name', how='inner')

In [272]:
df3['ID_x'].isnull().values.any()
df3['ID_y'].isnull().values.any()

False

In [271]:
df3

        ID_x         Author name    ID_y
0          1        Philip S. Yu   16696
1          2          Jiawei Han   19926
2          3  Christos Faloutsos  113755
3          4      Rakesh Agrawal  102514
4          5      H. V. Jagadish   19922
...      ...                 ...     ...
28697  28698              Ye Liu  135195
28698  28699         Dima Kuzmin  124251
28699  28700        Egidio Terra  114419
28700  28701       Sofia Alexaki   78119
28701  28702        Hans Wegener   49965

[28702 rows x 3 columns]